.background {
    background-color: brown;
}

.menuBlock {
    display: block;
    margin: auto;
    text-align: center;
    background-color: grey;
}

.menuButtons {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.centreBlock {
    display: block;
    margin: auto;
    text-align: center;
}

.colourButtons {
    border-radius: 10%;
    width: 49%;
    color: white;
}

.colourButtons:after {
    display: block;
    content: "";
    padding-bottom: 100%;
}


.redButton {
    @extend .colourButtons;
    background-color: rgb(255, 0, 0);
    transition-duration: 0.2s
}
.redButton:hover {
    background-color: rgb(200, 0, 0);
}

.blueButton {
    @extend .colourButtons;
    background-color: rgb(0, 0, 255);
}

.blueButton:hover {
    background-color: rgb(0, 0, 200);
    transition-duration: 0.2s
}

.yellowButton {
    @extend .colourButtons;
    background-color: rgb(255, 255, 0);
}

.yellowButton:hover {
    background-color: rgb(230, 230, 0);
    transition-duration: 0.2s
}

.greenButton {
    @extend .colourButtons;
    background-color: rgb(0, 230, 0);
}

.greenButton:hover {
    background-color: rgb(0, 200, 0);
    transition-duration: 0.2s
}

.alert {
    background-color: grey;
    border: 1px solid black;
    height: 50px;
}
.gameNameStyle {
    display: inline;
}

.footer {
    background-color: darkGrey;
}

// Switches:
.switchOuter {
    display: inline-block;
    height: 100px;
    width: 50px;
    background-color:grey;
    border: 2px solid black;    
}

.switchInnerOn {
    height: 46px;
    width: 46px;
    background-color:darkgrey;
    border: 2px solid black;    
}
.switchInnerOff {
    @extend .switchInnerOn;
    margin-top: 50px;
}

.light {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: darkred;
}