.background {
  background-color: #0a0a0a;
  max-width: 600px; }

.menuBlock {
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: grey; }

.menuButtons {
  border-style: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-shadow: 0 6px #999; }

.menuButtons:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px); }

.centreBlock {
  display: block;
  margin: auto;
  text-align: center; }

@media only screen and (max-width: 370px) {
  .colourButtons, .redButton, .blueButton, .yellowButton, .greenButton {
    border-style: none;
    outline: none;
    cursor: pointer;
    border-radius: 10%;
    width: 44%;
    margin: 6px;
    color: white;
    box-shadow: 0 9px #999; } }
@media only screen and (min-width: 371px) {
  .colourButtons, .redButton, .blueButton, .yellowButton, .greenButton {
    border-style: none;
    outline: none;
    cursor: pointer;
    border-radius: 10%;
    width: 46%;
    margin: 6px;
    color: white;
    box-shadow: 0 9px #999; } }
.colourButtons:after, .redButton:after, .blueButton:after, .yellowButton:after, .greenButton:after {
  display: block;
  content: "";
  padding-bottom: 100%; }

.colourButtons:active, .redButton:active, .blueButton:active, .yellowButton:active, .greenButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px); }

.redButton {
  background-color: #c80000; }

.redButtonFlash {
  background-color: red;
  transition-duration: 0.1s; }

.redButton:active {
  background-color: red; }

.blueButton {
  background-color: #0000c8; }

.blueButtonFlash {
  background-color: blue;
  transition-duration: 0.1s; }

.blueButton:active {
  background-color: blue; }

.yellowButton {
  background-color: #c8c800;
  margin-bottom: 15px; }

.yellowButtonFlash {
  background-color: yellow;
  transition-duration: 0.1s; }

.yellowButton:active {
  background-color: yellow; }

.greenButton {
  background-color: #00c800;
  margin-bottom: 15px; }

.greenButtonFlash {
  background-color: lime;
  transition-duration: 0.1s; }

.greenButton:active {
  background-color: lime; }

.alert {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  background-color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 23%;
  width: 30%; }

.gameNameStyle {
  display: inline-block;
  width: 40%;
  margin-left: 5%; }

.footer {
  display: inline-block;
  background-color: darkGrey;
  width: 100%; }

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 60px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  -webkit-transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  top: 4px;
  left: 4px;
  background-color: white;
  webkit-transition: .1s;
  transition: .1s; }

input:checked + .slider:before {
  -webkit-transform: translateY(26px);
  -ms-transform: translateY(26px);
  transform: translateY(26px); }

.lightOff, .lightOn {
  display: inline-block;
  margin-left: 20%;
  width: 30px;
  height: 30px;
  margin-left: 10%;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #640000; }

.lightOn {
  background-color: red; }

.menuButtonsContainer {
  display: inline-block;
  margin-right: 10%;
  margin-bottom: 10%; }

.menuSwitches {
  display: inline-block;
  margin-right: 10%;
  margin-left: 10%; }

/*# sourceMappingURL=style.css.map */
