$hub: 200px;
$controls: 100px;

@mixin centre($sz, $border) {
    position: absolute;
    $compensate: -$sz / 2;
    // Allow for optional border
    @if $border {
        $compensate: $compensate - $border;
    }
    top: 50%;
    left: 50%;
    margin: $compensate 0 0 $compensate;
}

.colourButtonBox {
    width: 400px;
    display: block;
    margin: auto;
}
.colourButton {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.flashingColourButton {
    font-size: 20px;
}

.alert {
    width: 100px;
    height: 50px;
    display: block;
    margin: 100px auto;
    border: 1px solid black;
    text-align: center;
}

.circle {
    @include centre($hub, 25);
    width: $hub;
    height: $hub; 
    border: 25px solid black;
    border-radius: 50%;
    background-color: grey;
}

.square {
    @include centre($controls, 0);
    width: $controls;
    height: $controls; 
    background-color: blue;
}

#red {
    @extend .colourButton;
    background-color: red;
}

#blue {
    @extend .colourButton;
    background-color: blue;
    color: white;
}

#yellow {
    @extend .colourButton;
    background-color: yellow;
}

#green {
    @extend .colourButton;
    background-color: green;
    color: white;
}

#settingsBox {
    margin: 50px;
}
// Width and height set...
#salmon_1 {
    max-width: 100%;
    transform: translateX(150px);
    -ms-transform: translateX(150px);
    -webkit-transform: translateX(150px);
}

#salmon_2 {
    max-width: 100%;
    transform: rotate(90deg);
    transform: translateY(100px);

    -ms-transform: rotate(90deg);
    -ms-transform: translateY(100px);

    -webkit-transform: rotate(90deg);
    -webkit-transform: translateY(100px);

}

#salmon_3 {
    max-width: 100%;
}

#salmon_4 {
    max-width: 100%;
}