.colourButtonBox {
    width: 400px;
    display: block;
    margin: auto;
}
.colourButton {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.flashingColourButton {
    font-size: 20px;
}

#red {
    @extend .colourButton;
    background-color: red;
}

#blue {
    @extend .colourButton;
    background-color: blue;
    color: white;
}

#yellow {
    @extend .colourButton;
    background-color: yellow;
}

#green {
    @extend .colourButton;
    background-color: green;
    color: white;
}

#settingsBox {
    margin: 50px;
}
